@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background: rgb(63,193,251);
    background: radial-gradient(circle, rgba(63,193,251,1) 0%, rgba(198,70,252,1) 100%);
    font-family: 'Dosis', sans-serif;
}

.wrapperCalculator{
    width: 195px;
    height: 500px;
    background-color: #eaf9f4;
    margin: 110px auto;
    border-radius: 17px;
    -webkit-box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.75);
    box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.75);
}

.wrapperNumbersCalculator{
    float: left;
    height: 365px;
    width: 60%;
    margin: 25px 6px 15px 15px;
}

.wrapperOperatorsCalculator{
    float: left;
    height: 365px;
    width: 20%;
    margin: 25px 0px 15px 0px;
}

.wrapperResult{
    margin: 0px 0px 5px 15px;
    height: 41px;
    width: 63%;
    border: 1px solid;
    float: left;
    background-color: black;
    color: #23ff16;
    padding: 18px;
    overflow-y: scroll;
    font-size: 12px;
}

.btnNumber{
    height: 86px;
    width: 35px;
    float: left;
    text-align: center;
    line-height: 89px;
    margin: 2px;
    border-radius: 10px;
    background-color: #bad4cdd6;
    cursor:pointer;
    transition: 0.3s;
}

.btnNumber:hover{
    background-color: #728f87d6;
    font-size: 24px;
}

.btnOperator{
    background-color: #ff000073;
    color: white;
    height: 86px;
    width: 35px;
    float: left;
    text-align: center;
    line-height: 89px;
    margin: 2px;
    border-radius: 10px;
    transition: 0.3s;
    cursor:pointer;
}

.btnOperator:hover{
    background-color: #ff0000;
    font-size: 24px;
}

.btnToResult{
    background-color: #15152c69;
    color: white;
    height: 86px;
    width: 35px;
    float: left;
    text-align: center;
    line-height: 89px;
    margin: 2px;
    border-radius: 10px;
    transition: 0.3s;
    cursor:pointer;
}

.btnToResult:hover{
    background-color: #15152cba;
    font-size: 17px;
}